# User configuration files
/nats2jetstream.ini
/nats2jetstream.toml

# User other files
*.crt
*.key
*.pfx

# Output files / temp files
*.pyc
*.swp
__pycache__

# Do not gitignore Cargo.lock (for now)
# https://doc.rust-lang.org/cargo/guide/cargo-toml-vs-cargo-lock.html
#/Cargo.lock

# Output directories
/target
